<% content_for :stylesheets do %>
  <style type="text/css">
    #site_nodes .site {
      margin-bottom: 12px;
      font-size: 15px;
      display: flex;
      align-items: center;
    }
    #site_nodes .site .favicon {
      width: 16px;
      height: 16px;
      margin-right: 5px;
    }
  </style>
<% end %>
<% content_for :main do %>
  <div id="homeland-site">
    <%= yield %>
  </div>
<% end %>
<%= render template: "/layouts/application" %>
